<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict="true">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
